<!DOCTYPE html>
<html lang="en">
<head>
  <title>docs.cloudant.com</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body ng-app="app">
  <div ng-controller="ContentCtrl" class="col-md-12">
    <div class="row">
      <nav ng-controller="NavCtrl" class="col-md-4">
        <ul class="nav nav-pills nav-stacked">
          <li ng-repeat="key in tree.keys()">
            <a href="/{{ key }}">{{ tree.get(key).value.title }}</a>
            <ul ng-show="tree.is_dir(key)">
              <li ng-repeat="key in subtree.keys()" ng-init="subtree = tree.retree(key)">
                <a href="/{{ key }}">{{ subtree.get(key).value.title }}</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <div ng-controller="CurrentCtrl" class="col-md-8">
        <div class="row" ng-repeat="page in pages">
          <div>
            <div class="jumbotron">
              <h1 ng-bind="page.title"></h1>
              <markdown ng-bind="page.text"></markdown>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="/js/app.js"></script>
</body>
</html>